.carousel {
    display: flex;
    gap: 2em;
    /* justify-content: center; */
    align-items: center;
    border-radius: 12px;
    padding: 2em;
    background-color: var(--bg-light-secondary);
    box-shadow: 0px 5px 15px rgba(9, 0, 0, 0.5);
    overflow-x: scroll;
    scroll-behavior: smooth;
}
