.footer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    grid-template-areas:
        "header header"
        "column column";

    background-color: #222222;
    color: #7d8597;
    padding: 2rem;
}

.header {
    font-size: 1.5em;
    color: #fff;
    grid-area: header;
}
.text {
    grid-area: "column";
    line-height: 1.2rem;

    font-weight: 300;
}
