.landing_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "heading login"
        "description login"
        "clicker login";
    gap: 1em;

    padding: 1em;
    min-height: 100%;
}

.heading {
    grid-area: heading;
    font-size: 4em;
    font-weight: 700;
    align-self: flex-end;
}

.description {
    grid-area: description;
    font-size: 1.5em;
    font-weight: 200;
    color: var(--text-secondary);
}

.clicker {
    grid-area: clicker;
    font-size: 1em;
    font-weight: 300;
    align-self: self-start;
}
