.landing_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "heading login"
        "description login"
        "clicker login";
    gap: 1em;

    padding: 1em;
    min-height: 100%;
}

.heading {
    grid-area: heading;
    font-size: 3em;
    font-weight: 500;
}

.description {
    grid-area: description;
    font-size: 1em;
    font-weight: 200;
}

.clicker {
    grid-area: clicker;
    font-size: 1em;
    font-weight: 300;
}
