.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    max-width: 1650px;
    margin-inline: auto;
    position: relative;
    z-index: 1;
}

.line {
    opacity: 30%;
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
    left: 2rem;

    border: 1px solid #fff;
    border-radius: 1rem;
    box-shadow: 3px 2px 1em #252525af;
}

.nav_brand {
    font-size: 2em;
}

.nav_links {
    /* width: clamp(5rem, 20%, 50%); */

    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}
.nav_link {
    color: #fff;
    text-decoration: none;
}
